.chip {
  padding: 0.875rem 2rem;
  border-radius: 9999px;
  font-weight: 500;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: inherit;
  text-align: center;
  font-weight: bold;
}

.filled {
  background-color: #A2020C;
  color: #ffffff;
}

/* .filled:hover {
  background-color: #6d2e2e;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(139, 58, 58, 0.3);
} */

.outlined {
  background-color: #ffffff;
  color: #A2020C;
  border: 2px solid #A2020C;
}

/* .outlined:hover {
  background-color: #f5f5f5;
  border-color: #6d2e2e;
  color: #6d2e2e;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(139, 58, 58, 0.2);
}

.chip:active {
  transform: translateY(0);
} */
