.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 0.50rem;
  width: 100%;
}

.galleryItem {
  width: 100%;
  height: 300px;
  background-color: #e0e0e0;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* .galleryItem:hover {
  transform: scale(1.05);
} */

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
