.socials {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin-top: 2rem;
}
.socials img {
  display: block;
  width: 60px;
  height: 60px;
  transition: transform 0.15s;
}
.socials a:hover img {
  transform: scale(1.12) rotate(-6deg);
}


/* \\\\\\\\\\\\\\\\\\ */
/* FOOTER SECTIONS  */
/* \\\\\\\\\\\\\\\\\\ */

.footer {
  border-top: 1px solid rgba(0,0,0,0.06);
  padding: 1.25rem 0;
  margin-top: 7rem;
  width: 100vw;
  height: 30rem;
  min-width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  background: #A2020C;
  box-sizing: border-box;
  display: flex;
  color: #EDEBDE;
}

.footer p {
  font-size: 1.25rem;
}

/* *******LEFT SIDE********/

.leftContainer {
  width: 50%;
  padding: 3rem 7rem 1rem 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.logoAndTagline {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;
}

.basedIn {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  gap: 0.5rem;
}

/* *******RIGHT SIDE********/

.rightContainer {
  width: 50%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5rem;
  text-align: right;
}



/* \\\\\\\\\\\\\\\\\\ */
/* FOOTER SECTIONS END  */
/* \\\\\\\\\\\\\\\\\\ */


.copy {
  margin: 0;
  color: rgba(0,0,0,0.7);
  font-size: 0.95rem;
}

.links {
  display: flex;
  gap: 1rem;
}

.links a {
  color: inherit;
  text-decoration: none;
  font-weight: 600;
}

.links a:hover {
  text-decoration: underline;
}
