.navContainer {
  display: flex;
  gap: 0.50rem;
}

.navTab {
  padding: 0.875rem 2rem;
  border-radius: 9999px;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: inherit;
  width: 25%;
}

.active {
  background-color: #A2020C;
  color: #ffffff;
}

.inactive {
  background-color: #ffffff;
  color: #A2020C;
  border: 2px solid #A2020C;
}

.inactive:hover {
  background-color: #f5f5f5;
}
