.container {
  width: 40rem;
  height: 15rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.imagesColumn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.imagePlaceholder {
  width: 100%;
  height: 10rem;
  background-color: #e0e0e0;
  border-radius: 0.5rem;
}

.textColumn {
  display: flex;
  flex-direction: column;
  justify-content: top;
  padding: 2rem;
}

.textColumn h2 {
  margin: 0 0 1rem 0;
  font-size: 2rem;
}

.textColumn p {
  margin: 0;
  line-height: 1.6;
  color: #333;
}
