.container {
  width: 50rem;
  height: 25rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  padding: 1rem;
  margin: 3rem 0;
}

.container.reversed {
  grid-template-columns: 1fr 1fr;
}

.reversed .textContent {
  text-align: right;
}

.reversed .textColumn {
  text-align: right;
}

.reversed .projectButton {
  justify-content: flex-start;
}

.imagesColumn {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.2rem;
}

.imagePlaceholder {
  width: 100%;
  height: 100%;
  background-color: #e0e0e0;
  border-radius: 0.2rem;
}

.textColumn {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 2rem;
}

.textContent {
  display: flex;
  flex-direction: column;
}

.textColumn h2 {
  margin: 0 0 1rem 0;
  font-size: 1.75rem;
  font-family: ;
}

.textColumn p {
  margin: 0;
  line-height: 1.6;
  color: #333;
  font-size: 1rem;
}

.projectButton {
  align-self: start;
  width: 10rem;
  padding: 0.75rem 1.5rem;
  background-color: #A2020C;
  color: #fff;
  border: none;
  border-radius: 5rem;
  font-size: 1rem;
  cursor: pointer;
}

.projectButton:hover {
  background-color: #b62d36;
}
